@use "/src/styles/colors";
@use "/src/styles/mixins";
@use "/src/styles/breakpoints";

.create-account,
label,
.underline {
  font-size: clamp(1.5vmin, 1.2rem, 3vmin);
  margin: 1rem 0;
}

.login-divider {
  max-width: 80%;
}

.underline {
  color: colors.$brand-primary;
  text-decoration: underline;
  cursor: pointer;
}

.login-form {
  width: 60%;
  @include mixins.flex(center, center);
  flex-direction: column;
  padding: 0 2rem;

  @media (max-width: breakpoints.$tablet) {
    width: 100%;
  }

  & input {
    margin-bottom: 1rem;
  }

  & label {
    align-self: flex-start;
  }

  & button {
    margin: 1rem 0;
    align-self: center;
  }
}
