@use "/src/styles/mixins";
@use "/src/styles/colors";
@use "/src/styles/breakpoints";

.container {
  max-width: clamp(1000px, 800px, 90%);
  min-height: 60vh;
  @include mixins.flex(center, center);
  font-family: "Merriweather", sans-serif;
  padding: 10rem 0;

  @media (max-width: breakpoints.$mobile) {
    padding: 5rem 0;
  }
}

.wrapper {
  min-width: clamp(90%, 20vw, 800px);
  @include mixins.border(1px, colors.$black);
  margin: 0 1rem;
}

.wrapper-header {
  font-size: 2rem;
  text-align: center;
  background-color: colors.$brand-primary;
  padding: 1rem 0;
}

.wrapper-header__heading {
  color: colors.$white;
  letter-spacing: 2px;
}
