@use "/src/styles/mixins";
@use "/src/styles/colors";
@use "/src/styles/breakpoints";

.hidden {
  @media (max-width: breakpoints.$mobile) {
    display: none;
  }
}

.delivery-collection-tab {
  @include mixins.flex(center, center);
  cursor: pointer;

  & span {
    font-size: 1.4rem;
    margin: 0 1rem;
  }
}

.delivery-collection-tab__delivery svg {
  width: 30px;
}
.delivery-collection-tab__collection svg {
  width: 40px;
}

.delivery-collection-tab li {
  flex-basis: 50%;
  @include mixins.flex(center, center);
  @include mixins.border(1px, colors.$black);
  border-left: none;
  border-right: none;
  padding: 0.5rem 0;
}

.active {
  background-color: colors.$light-grey;
  fill: colors.$brand-primary;
  color: colors.$brand-primary;
  transition: all 0.3s ease-in-out;
}
