@use "/src/styles/mixins";
@use "/src/styles/colors";

.container {
  max-width: clamp(1000px, 800px, 90%);
  min-height: 60vh;
  @include mixins.flex(center, center);
  font-family: "Merriweather", sans-serif;
  padding: 10rem 0;
}

.delivery-collection {
  min-width: clamp(90%, 20vw, 800px);
  @include mixins.border(1px, colors.$black);
}

.delivery-collection-header {
  font-size: 2rem;
  text-align: center;
  background-color: colors.$light-grey;
  padding: 1rem 0;
}

.delivery-collection-tab {
  @include mixins.flex(center, center);
  cursor: pointer;

  & span {
    font-size: 1.4rem;
    margin: 0 1rem;
  }
}

.delivery-collection-tab__delivery svg {
  width: 30px;
}
.delivery-collection-tab__collection svg {
  width: 40px;
}

.delivery-collection-tab li {
  flex-basis: 50%;
  @include mixins.flex(center, center);
  @include mixins.border(1px, colors.$black);
  border-left: none;
  border-right: none;
  padding: 0.5rem 0;
}

.active {
  background-color: colors.$brand-primary;
  fill: colors.$white;
  color: colors.$white;
  transition: all 0.3s ease-in-out;
}

.delivery-options {
  @include mixins.flex(space-evenly, center);
  flex-direction: column;
  min-height: 40vh;

  & .delivery-options__standard,
  .delivery-options__next,
  .collection {
    @include mixins.border(1px, colors.$black);
    @include mixins.box-shadow;
    width: 100%;
    max-width: 700px;
  }

  & h5 {
    font-size: 1.8rem;
  }

  & p {
    font-size: 1.4rem;
  }
}

.delivery-options__standard__price,
.delivery-options__next__price {
  @include mixins.flex(space-between, center);
  margin-bottom: 1rem;

  & span {
    font-size: 1.5rem;
  }
}

.flex {
  @include mixins.flex(space-between, center);
  padding: 1rem;
}

.padding {
  padding: 1rem;
}
