@use "colors";
@use "breakpoints";

@mixin promo-bar {
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  color: colors.$white;
  text-align: center;
  cursor: pointer;
}

@mixin flex($property1, $property2) {
  display: flex;
  justify-content: $property1;
  align-items: $property2;
}

@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(34, 34, 34, 0.3);
}

@mixin responsive-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin border($thickness, $color) {
  border: $thickness solid $color;
}

@mixin icon($icon-name) {
  display: inline-block;
  content: url("/assets/svg/#{$icon-name}.svg");
  width: 25px;
  position: absolute;
  right: 2rem;
}

@mixin grid2columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5rem;

  @media (max-width: breakpoints.$tablet) {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}
