@use "/src/styles/colors";
@use "/src/styles/breakpoints";
@use "/src/styles/mixins";

.basket-container {
  display: flex;
  z-index: 11;
}

.basket {
  width: 30px;
  stroke: colors.$brand-primary;
  fill: colors.$brand-primary;
  cursor: pointer;
}

.basket-quantity::before {
  position: absolute;
  top: 0;
  width: 2.4rem;
  height: 2.4rem;
  @include mixins.flex(center, center);
  font-size: 1.2rem;
  content: attr(data-count);
  background-color: colors.$red;
  color: colors.$white;
  border-radius: 50%;

  @media (max-width: breakpoints.$mobile) {
    font-size: 0.8rem;
    right: -0.5rem;
    width: 2rem;
    height: 2rem;
  }
}
