@use "/src/styles/mixins";

.footer-mobile-details {
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 0 2rem;
}

.footer-mobile-summary {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5rem;
  padding: 1rem 0;
  list-style: none;

  &::marker {
    display: none;
  }

  &::after {
    @include mixins.icon(chevrondown);
  }
}

.footer-mobile-details[open] .footer-mobile-summary:after {
  @include mixins.icon(chevronup);
}

#flip::after {
  @include mixins.icon(chevronup);
}

#flip[open] #flip::after {
  @include mixins.icon(chevrondown);
}
