@use "/src/styles/breakpoints";
@use "/src/styles/mixins";

.categories-container {
  @include mixins.grid2columns;
}

.heading {
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: "Merriweather", san-serif;
  font-weight: 400;
  text-align: center;
  margin: 4rem 0;
}
