@use "src/styles/mixins";
@use "src/styles/breakpoints";

.footer-nav {
  @include mixins.flex(center, center);
}

.footer-nav_items {
  display: flex;
}

.footer-nav_item {
  font-size: 1.7rem;
  font-family: "Merriweather", san-serif;
  margin: 3rem;

  @media (max-width: breakpoints.$tablet) {
    font-size: 1.1rem;
    margin: 2rem 1rem;
  }
}
