@use "src/styles/mixins";
@use "src/styles/breakpoints";

footer {
  @include mixins.flex(center, center);
  flex-direction: column;

  @media (max-width: breakpoints.$mobile) {
    display: none;
  }
}

.footer-nav_items {
  display: flex;
}

.footer-nav_item {
  font-size: 1.7rem;
  font-family: "Merriweather", san-serif;
  margin: 3rem;
}
