.returns-refunds-wrapper {
  padding: 2rem;
}

.returns-refunds-item,
.returns-refunds-paragraph {
  font-size: 1.4rem;
}

.returns-refunds-paragraph {
  font-size: 1.4rem;
  padding: 1.4rem 0;
}

.returns-refunds-item {
  font-weight: bold;
  padding: 1rem 0;
}

.credit-card {
  display: block;
  width: 60px;
  margin: 1rem auto;
}
