.returns-refunds-wrapper {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  padding: 2rem;
}

.returns-refunds-items li {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 0;
}

.credit-card {
  display: block;
  width: 60px;
  margin: 1rem auto;
}
