@use "/src/styles/mixins";
@use "/src/styles/colors";
@use "/src/styles/breakpoints";

.product-container {
  display: flex;
  margin: 5rem auto;
  gap: 2%;
  @include mixins.box-shadow;

  @media (max-width: breakpoints.$tablet) {
    flex-direction: column;
  }
}

.product-title {
  margin-bottom: 1rem;
}

.product-rating {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: colors.$light-yellow;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.product-img {
  flex-basis: 49%;
}

.product-img img {
  @include mixins.responsive-img;
  padding: 2rem;
}

.product-content {
  align-content: stretch;
  flex-basis: 49%;
  @include mixins.flex(space-evenly, flex-start);
  flex-direction: column;
  padding: 2rem;

  @media (max-width: breakpoints.$mobile) {
    min-height: 500px;
    padding: 1rem 2rem;
  }
}

.product-desc {
  font-size: 1.3rem;
}

.product-price {
  width: 100%;
  font-size: 1.5rem;
  @include mixins.flex(space-between, center);
}

.price span {
  display: block;

  &:first-child {
    text-decoration: line-through;
  }

  &:nth-child(2) {
    font-weight: bold;
    color: colors.$red;
  }
}

.discount {
  background-color: colors.$red;
  color: colors.$white;
  padding: 1rem;
}
