@use "/src/styles/breakpoints";
@use "styles/mixins";

.nav-bar {
  max-width: breakpoints.$tablet;
  margin: 1.5rem auto;

  @media (max-width: breakpoints.$desktop) {
    display: none;
  }
}

.nav-bar__items {
  @include mixins.flex(space-evenly, center);
  font-family: "Meriweather", san-serif;
  font-size: 2rem;
  cursor: pointer;
}
