@use "/src/styles/mixins";
@use "/src/styles/colors";
// @use "/src/styles/breakpoints";

.product-card {
  width: 100%;
  max-width: 400px;
  height: 600px;
  cursor: pointer;
  @include mixins.box-shadow;

}

.product-card-discount {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: colors.$red;
  padding: 0.5rem 2rem;
  color: colors.$white;
}

.product-card-img {
  position: relative;
  height: 400px;
}

.product-card-img img {
  @include mixins.responsive-img;
}

.product-card-desc {
  padding: 0 4rem;

  & h6 {
    font-family: "Merriweather", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
  }

  span {
    font-size: 1.2rem;
    text-decoration: line-through;
  }

  & .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: colors.$red;
    margin: 1rem 0;
  }
}
