@use "/src/styles/colors";
@use "/src/styles/mixins";
@use "/src/styles/breakpoints";

.payment-container {
  margin-top: 6rem;
  max-width: 550px;

  & h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.error-msg-container {
  margin: 1rem 0;
  text-align: center;

  & span {
    display: block;
    margin: 1rem 0;
  }
}
