@use "/src/styles/colors";

.comment-avatar {
  width: 30px;
  border-radius: 50%;
}

.user-email,
.timestamp {
  font-weight: bold;
}

.rating {
  display: flex;
}

.comment-content {
  font-size: clamp(3vmin, 2rem, 5vmin);
  font-style: italic;
  color: colors.$brand-primary;
}
