@use "/src/styles/breakpoints";
@use "/src/styles/mixins";

.header-panel {
  @include mixins.flex(center, center);
}

.logo {
  height: 100%;
  margin: 1rem 0;
  z-index: 11;
  cursor: pointer;
}

.logo img {
  display: block;

  @media (min-width: breakpoints.$tablet) and (max-width: breakpoints.$desktop) {
    width: 50%;
  }

  @media (max-width: breakpoints.$mobile) {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }
}

.user-panel {
  position: absolute;
  right: 5%;
  display: flex;
}

.user-panel * {
  margin: 0 0.7rem;
}
