@use "/src/styles/colors";
@use "/src/styles/breakpoints";

.user {
  width: 35px;
  stroke: colors.$brand-primary;
  fill: colors.$brand-primary;
  cursor: pointer;

  & .user-avatar {
    width: 30px;
    border-radius: 50%;
    margin-top: 5px;
  }
}
