@use "/src/styles/colors";
@use "/src/styles/breakpoints";
@use "/src/styles/mixins";

.container-slider {
  position: relative;
  min-height: 65vh;
  overflow: hidden;
  margin: 0 auto;
}

.slider-msg {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  font-family: "Merriweather", san-serif;
  font-size: clamp(3.5rem, 4vw, 6rem);
  color: colors.$white;
  text-align: center;
  text-shadow: 0 0 2px colors.$black, 0 0 2px colors.$black, 0 0 2px colors.$green,
    0 0 2px colors.$green;
  letter-spacing: 3px;
  z-index: 1;

  @media (max-width: breakpoints.$tablet) {
    top: 22vh;
  }
}

.slide button {
  display: block;
  position: absolute;
  bottom: 7rem;
  left: 0;
  right: 0;
  width: 150px;
  margin: 0 auto;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  @include mixins.overlay;
}

.slide img {
  @include mixins.responsive-img;
}
