@use "src/styles/mixins";
@use "src/styles/breakpoints";

footer {
  @include mixins.flex(center, center);
  flex-direction: column;

  @media (max-width: breakpoints.$mobile) {
    display: none;
  }
}

.footer-nav_items {
  display: flex;
}

.footer-nav_item {
  font-size: 1.7rem;
  font-family: "Merriweather", san-serif;
  margin: 3rem;
}

.social-media__icons {
  @include mixins.flex(center, center);

  & img {
    width: 25px;
    margin: 2rem;
  }
}

.footer-social-media {
  text-align: center;

  & span {
    font-size: 1.4rem;
  }
}

.footer-copyright {
  margin-bottom: 1rem;
}
