@use "/src/styles/mixins";

.social-media__icons {
  @include mixins.flex(center, center);

  & img {
    width: 25px;
    margin: 2rem;
  }
}

.footer-social-media {
  text-align: center;
  margin: 2rem;

  & span {
    font-size: 1.4rem;
  }
}

hr {
  display: block;
  width: 100%;
  max-width: 40%;
  margin: 1rem auto;
}
