@use "/src/styles/breakpoints";
@use "styles/mixins";

.nav-bar {
  max-width: breakpoints.$tablet;
  margin: 1.5rem auto;
  z-index: 100;

  @media (max-width: breakpoints.$mobile) {
    margin-bottom: auto;
  }
}

.nav-bar__items {
  @include mixins.flex(space-evenly, center);
  font-family: "Meriweather", san-serif;
  font-size: 2rem;
  cursor: pointer;

  @media (max-width: breakpoints.$mobile) {
    flex-direction: column;
  }
}

.nav-bar__item {
  @media (max-width: breakpoints.$mobile) {
    padding: 2rem 0;
  }
}
