@use "/src/styles/colors";
@use "/src/styles/breakpoints";

.user {
  width: 35px;
  stroke: colors.$brand-primary;
  fill: colors.$brand-primary;
  cursor: pointer;

  & img {
    margin-top: 5px;
    width: 100%;
  }

  @media (max-width: breakpoints.$mobile) {
    width: 25px;
  }
}
