@use "styles/colors";

/*****************
* Screen readers *
******************/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/********
* Reset *
*********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************
* Global styles *
****************/

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: colors.$white;
  color: colors.$text-color;
  letter-spacing: 2px;
  line-height: 1.6;
}

h1 {
  font-family: "Merriweather", san-serif;
}

main {
  max-width: calc(1400px - 5%);
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: inherit;
}
